*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:#426696;
    font-weight: bold;
    font-size: 2rem;
    opacity: 0.8;
}

h2, p{
    color:#426696;
    font-weight: bold;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

h4{
    color: #426696;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
}
main{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9,#6cdbdb);  
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.8), 
        rgba(255,255,255,0.2)
        );
    height:10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right:15%;
    
}

.circle2{
    top: 5%;
    left:15%;
}

.avatar{
    width: 30%;
    border-radius: 50%;
}

.imagine{
    /* height:10rem; */
    width: 20%;
    /* border-radius: 50%; */
}

.imagine_game{
    width: 20%
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.3)
        );
    border-radius: 2rem;
}

.link{
    display: flex;
    margin: 2rem 0rem;
    padding: 0rem 5rem;
    align-items: center;
}

.link h2{
    padding: 0rem 1rem;
}

.contact{
    /* display: flex; */
    /* background-color: linear-gradient(to right top, #51f542, #03fc52); */
    /* border-radius: 0rem; */
    /* color: white; */
    /* padding: 1rem; */
    /* position: relative; */
    /* position: absolute; */
    /* top: -10%; */
    /* right: 10%; */
}

#ContactMe{
    /* color: linear-gradient(to right top, #51f542, #03fc52); */
    color:#51f542;
    
}

.status{
    margin-bottom: 3rem;
}

.status input{
    /* background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.3)
        ); */
    border: none;
    /* width: 50%; */
    padding: 0.2rem;    
    border-radius: 2rem;
}

/* .games{
    flex: 2;
} */

.games{
    display: flex;
    margin: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex: 2; */
}


.card{
    display: flex;
    background: linear-gradient(
        to left top, 
        rgba(255,255,255,0.8), 
        rgba(255,255,255,0.5)
        ); 
    border-radius: 2 rem;
    padding: 2rem;
    margin: 2rem 0rem;
    box-shadow: 6px 6px 20px rgba(122,122,122);
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}